@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic&display=swap&subset=cyrillic-ext");

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,700&display=swap&subset=cyrillic-ext");

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  font-family: "PT Sans";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: black;
  color: #fff;
}

input,
button,
textarea {
  font-family: "PT Sans";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  font-size: 14px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__telephone {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
}

.header__telephone a {
  margin: 0px 15px 0px 0px;
}

.header__authorization {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
  padding: 0px 0px 0px 20px;
}

.header__authorization img {
  margin: 0px 10px 0px 0px;
}

.header__authorization a {
  color: #FFF;
}

.header__menu {
  background: #0F0F0F;
}

.header__box-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: inline-block;
  padding: 10px 0;
}

.header__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.header__list li {
  display: inline-block;
}

.header__link {
  display: inline-block;
  text-transform: uppercase;
  padding: 31px 20px;
  color: #FFF;
}

.header__link:hover {
  background: #1F1F1F;
}

.header__icon {
  text-align: center;
}

.header__icon a {
  display: inline-block;
  padding: 20px;
}

.header__icon a:last-child {
  padding-right: 0px;
}

._no-webp .header__content{
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 15, 15, 0.5)), to(rgba(15, 15, 15, 0.5))), url("../img/header__BG.jpg") center no-repeat; }

._no-webp .header__content{
  background: -o-linear-gradient(bottom, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url("../img/header__BG.jpg") center no-repeat; }

._no-webp .header__content{
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url("../img/header__BG.jpg") center no-repeat; }

.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__box-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
  width: 320px;
  padding: 93px 65px;
  border: 4px solid #FFFFFF;
  margin-top: 160px;
}

.header__box-logo a {
  margin-top: 32px;
  display: inline-block;
  padding: 0px 0px 4px 0px;
  border-bottom: 2px solid #FFFFFF;
}

.header__box-logo p {
  text-transform: uppercase;
  font-size: 22px;
  padding: 7px 0px 0px 0px;
  line-height: 78.57143%;
}

.header__text {
  margin-top: 80px;
  margin-bottom: 154px;
  max-width: 730px;
  font-size: 16px;
  line-height: 150%;
  text-transform: uppercase;
}

.-box {
  width: 100%;
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}

.footer {
  width: 100%;
}

._no-webp .footer__main{
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 15, 15, 0.85)), to(rgba(15, 15, 15, 0.85))), url("../img/BG__footer.jpg") 50% no-repeat; }

._no-webp .footer__main{
  background: -o-linear-gradient(bottom, rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url("../img/BG__footer.jpg") 50% no-repeat; }

._no-webp .footer__main{
  background: linear-gradient(0deg, rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url("../img/BG__footer.jpg") 50% no-repeat; }

.footer__main {
  padding: 80px 0 93px;
}

.footer__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
}

.footer__info p {
  line-height: 150%;
}

.footer__categories {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 305px;
          flex: 0 1 305px;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  margin-bottom: 20px;
}

.footer__mailing-list {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 350px;
          flex: 0 1 350px;
}

.footer__mailing-list p {
  line-height: 150%;
  margin: 0px 0px 37px 0px;
}

.footer__mailing-list form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__mailing-list form input {
  width: 210px;
  height: 42px;
  background: rgba(255, 255, 255, 0.4);
}

.footer__footer {
  height: 42px;
}

.footer__boxin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__boxin p {
  padding: 17px 0;
}

.-footer-button {
  line-height: 150%;
  color: #D0D0D0;
  display: inline-block;
  background: #0F0F0F;
  padding: 10px 20px;
  height: 41px;
}

input {
  padding: 0px 0px 0px 15px;
}

input::-moz-placeholder {
  color: #969696;
}

input::-webkit-input-placeholder {
  color: #969696;
}

h3 {
  text-transform: uppercase;
  font-family: 'Playfair Display';
  font-size: 24px;
  line-height: 133.33333%;
  margin: 0px 0px 40px 0px;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.season {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1040px;
  padding: 93px 55px;
}

.season__clock {
  width: 930px;
}

.-h2 {
  font-family: 'Playfair Display';
  text-transform: uppercase;
  font-weight: bold;
  font-size: 36px;
  line-height: 133.33333%;
  text-align: center;
  position: relative;
  padding: 0px 0px 45px 0px;
}

.-h2::after {
  content: " ";
  position: absolute;
  width: 120px;
  height: 0px;
  border: 1px solid #FFFFFF;
  top: 89px;
  margin: 0px 0px 0px -60px;
  left: 50%;
}

.clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Playfair Display;
}

.clock_padding {
  padding: 61px 0 30px;
}

.clock__blok {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 50px;
}

.clock__blok_margin {
  padding-top: 20px 0;
}

.clock__blok a {
  display: inline-block;
}

.clock__img {
  width: 260px;
  height: 325px;
  background: #191B1C;
  padding: 56px 23px;
}

.clock__img img {
  width: 100%;
}

.clock__model {
  margin: 25px 0px 0px 0px;
  font-size: 18px;
  line-height: 133.33333%;
  color: #FFFFFF;
}

.clock__price {
  margin: 10px 0px 0px 0px;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  color: #D0D0D0;
}

._no-webp .new-collection{
  background: url("../img/new-colection.jpg") 50% no-repeat; }

.new-collection {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 880px;
          flex: 0 1 880px;
  text-align: center;
}

.new-collection__heading {
  margin: 484px 0px 0px 0px;
}

.new-collection__bottom {
  margin: 30px 0px 0px 0px;
}

.-bottom {
  display: inline-block;
  font-size: 18px;
  line-height: 127.77778%;
  padding: 12px 28px;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
  color: #FFFFFF;
}

.collection {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._no-webp .collection__img{
  background: url("../img/collection.jpg") 50% no-repeat; }

.collection__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 880px;
          flex: 0 0 880px;
  height: 600px;
}

.collection__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 1039px;
          flex: 0 1 1039px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 97px 285px 99px;
}

.content__heading {
  margin: 0px 0px 40px 0px;
}

.content__text {
  max-width: 471px;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  margin: 0px 0px 60px 0px;
}

.new_postulate {
  width: 100%;
  padding: 120px 0px;
}

.brands {
  width: 100%;
  text-align: center;
  padding: 60px 0px 80px;
  background: #0F0F0F;
}

.brands__heading {
  margin-bottom: 40px;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

._webp .header__content{ background: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 15, 15, 0.5)), to(rgba(15, 15, 15, 0.5))), url(../img/header__BG.webp) center no-repeat; }

._webp .header__content{ background: -o-linear-gradient(bottom, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../img/header__BG.webp) center no-repeat; }

._webp .header__content{ background: linear-gradient(0deg, rgba(15, 15, 15, 0.5), rgba(15, 15, 15, 0.5)), url(../img/header__BG.webp) center no-repeat; }

._webp .footer__main{ background: -webkit-gradient(linear, left bottom, left top, from(rgba(15, 15, 15, 0.85)), to(rgba(15, 15, 15, 0.85))), url(../img/BG__footer.webp) 50% no-repeat; }

._webp .footer__main{ background: -o-linear-gradient(bottom, rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url(../img/BG__footer.webp) 50% no-repeat; }

._webp .footer__main{ background: linear-gradient(0deg, rgba(15, 15, 15, 0.85), rgba(15, 15, 15, 0.85)), url(../img/BG__footer.webp) 50% no-repeat; }

._webp .new-collection{ background: url(../img/new-colection.webp) 50% no-repeat; }

._webp .collection__img{ background: url(../img/collection.webp) 50% no-repeat; }